.title{
    font-family: ocr-a-std, monospace;
    font-weight: medium;
    color: #5B7BF8;
    font-size: 30px;
  }

.ant-progress-outer {
    width: 80%
}

.rabbit-goal{
    margin-top: 25%;
    width: 70%;
    height: 50%;
}