
/* CHART */
.apexcharts-text.tspan{
    color: #5B7BF8;
    font-family: ocr-a-std, monospace;
    font-weight: medium;
}

.tspan{
    color: #5B7BF8;
    font-family: ocr-a-std, monospace;
    font-weight: medium;
}